body {
  background-color: lightblue;
  /*background-image: url('etchBG.jpeg');*/
}

.overall-container {
  display: flex;
}

.grid-container {
  margin: 0px 64px;
  width: 500px;
  height: 500px;
  display: grid;
  grid-auto-flow: column;
  outline: 2px solid black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  flex: 0 0 auto;
}

.placeholder {
  flex: 1;
}

.grid-block {
  background-color: white;
}

.title {
  text-align: center;
  font-size: 48px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
  gap: 16px;
}

button {
  height: 32px;
  width: 72px;
  background-color: rgb(240, 240, 240);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.slide-container {
  width: 15%;
  margin: 16px auto;
  background-color: rgb(240, 240, 240, 0.3);

  border: 2px solid black;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 16px;
  border-radius: 16px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: white;
  border-radius: 8px;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: gray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  cursor: pointer;
}

.color-container {
  display: flex;
  justify-content: center;
  margin: 12px;
  gap: 5px;
}

.color-div {
  width: 32px;
  height: 32px;
  outline: 2px solid black;
}
